table {
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
}

th {
  margin-bottom: 2px;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

th, td {
  width: 9.5%;
}

th {
  padding: 0.2rem 0;
  background: $bostonBlue;
  color: $blumine;
  font-size: 1.2rem;
  font-weight: normal;

  &.active {
    color: $white;
  }

  &.played {
    color: $aquaIsland;
  }
}

td {
  padding: 0.5rem 0;
  background: $cornflowerBlue;
  font-size: 1.3rem;
  color: $white;
  @include text-shadow-small();

  &.active {
    background-color: $blumine;
    
    .hammer {
      font-size: 0.8em;
      padding-top: 0.25rem;
    }
  }
}

@font-face {
    font-family: 'hammer';
    src: url('#{$icon-font-path}/hammer.eot');
    src: url('#{$icon-font-path}/hammer.eot?#iefix') format('embedded-opentype'),
         url('#{$icon-font-path}/hammer.woff') format('woff'),
         url('#{$icon-font-path}/hammer.ttf') format('truetype'),
         url('#{$icon-font-path}/hammer.svg#hammer') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'hammer';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-hammer:before{content:'\0048';}
