@import url('https://fonts.googleapis.com/css?family=Bungee');
@import '../../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss';

@import '_variables.scss';
@import '_mixins.scss';

@import '_info.scss';

@import './intro/_intro.scss';
@import './game/_game.scss';

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
}
