body {
  background: $towerGray;
  font-family: 'Bungee', Helvetica, Arial, sans-serif;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

heading {
  background: $shakespeare;
  display: block;
  width: 100;
  padding: 2rem;
  @include shadow();
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .stats,
  .team  {
    width: 32.5%;
  }
}

.clear {
  clear: both;
}

.turns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .turn {
    width: 49.5%;
    box-sizing: border-box;
    padding: 1rem 1rem;
    color: $kournikova;
    text-align: right;
    @include text-shadow();
    font-size: 6em;
    background: $bostonBlue;

    span {
      width: 52px;
      height: 52px;
      margin-top: 1.5rem;
      display: block;
      float: left;
      background: transparent url('./assets/stone_empty_turn.png') no-repeat;
      @include addRotate();
    }

    &.team_2 {
      color: $bittersweet;
      text-align: left;

      span {
        float: right;
      }
    }

    &.active {
      span {
        background-image: url('./assets/stone_yellow_turn.png');
        @include removeRotate();
      }
    }

    &.team_2.active {
      span {
        background-image: url('./assets/stone_red_turn.png');
        @include removeRotate();
      }
    }
  }
}

.team_1 {
  background: $kournikova;
  color: $jellyBean;
}

.team_2 {
  background: $bittersweet;
  color: $white;
}

h2,
h3 {
  text-transform: uppercase;
  margin: 0 0 0 0;
}

h2 {
  margin-bottom: 8px;
  font-size: 2.7rem;
  padding: 1rem 1rem;
}

h3 {
  font-size: 2em;
  background: $cornflowerBlue;
  color: $bostonBlue;
  padding: 0.5rem 1rem
}

.team {
  &:last-child {
    text-align: right;
  }


  .deliveries{
    background: $bostonBlue;
    padding: 1em 0;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
       align-content: flex-start;
      flex-wrap: wrap;
      padding: 0 1rem;
      background: transparent;
    }

    li {
      background: transparent url('./assets/stone_empty_rounds.png') no-repeat;
      width: 42px;
      height: 42px;
      list-style: none;
      @include addRotate();

      &.active {
        background-image: url('./assets/stone_yellow_rounds.png');
        @include removeRotate();
      }
    }
  }

  .team_2 {
    li {
      &.active {
        background-image: url('./assets/stone_red_rounds.png');
        @include removeRotate();
      }
    }
  }
}
