@mixin shadow(){
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
}

@mixin text-shadow(){
  text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
}

@mixin text-shadow-small(){
  text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}

@mixin addRotate(){
  transform: rotate(45deg);
}

@mixin removeRotate(){
  transform: rotate(0deg);
}
